.div1{
    background-color: rgb(203, 146, 212);
}
/*.div2{
    margin-top: -140vh;
}*/
.div3{
    background-color: rgba(122, 3, 149, 0.504);
   
}
 /* Mobile Responsiveness */
 @media (max-width: 600px) {
    .loginimg{
        width: 200px;
        height: 150px;
    }
    .div2 span{
        visibility: hidden;
    }
 }